In [14]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
print(data.shape)
data.head()

(1728, 7)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [15]:
from collections import Counter
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [16]:
X = data.iloc[:,:-1]
y = data.outcome
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                            random_state=10, test_size=0.3)

In [34]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=10,max_features=3,
                              n_estimators=50,random_state=10,
                              criterion='gini')
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix
print("Test accuracy:",accuracy_score(y_test,y_predict))

Test accuracy: 0.9826589595375722

In [33]:
y_train_predict = model.predict(X_train)
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_train,y_train_predict)
print("Train accuracy:",accuracy_score(y_train,y_train_predict))

Train accuracy: 0.9975186104218362

In [24]:
pd.crosstab(y_test,y_predict)

col_0    acc  unacc
outcome
acc       42     60
good      12      9
unacc     12    359
vgood     25      0

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

             precision    recall  f1-score   support

        acc       0.46      0.41      0.44       102
       good       0.00      0.00      0.00        21
      unacc       0.84      0.97      0.90       371
      vgood       0.00      0.00      0.00        25

avg / total       0.69      0.77      0.73       519

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)